.project-page, .empty-project-page {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    line-height: 25px;
    align-items: left;
}

.project-title{
    font-size: 25px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 5px;
}

.no-project-text {
    color: lightgray;
    font-weight: 800;
}

.empty-project-page {
    cursor: pointer;
}
